body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.pageTextArea{
  margin-bottom: 10px;
  border-radius: 20px;
}

.submitButton{
  border-radius: 20px;
}
.modal-header, .modal-footer{
  background-color: black;
  color:white;
}

.modal-body{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(36,212,77);
}

td{
  color: white;
}

.btn{
color: white;
background-color:rgb(36,212,77) ;
}